/* head */
.head{
    width: 100%;
    height: 45px;
    background: #e0e0e0;
}
.head>.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;/* 当相对左浮动，弹性起步 */
    justify-content: space-between;/* 两端对齐 左右没有缝隙*/
    /*  justify-content: space-around;两端对齐 左右有缝隙 */
    /* justify-content: center;水平居中 */
    align-items: center; /* 垂直居中 */
}
.head_d1{
    width: 356px;
    margin-left: 15px;
    color: #757575;
}
.head_s1{
    margin-left: 30px;
}
.head_d2{
    width: 300px;   
    margin-left: 20px;
}
.head_d2>a>img{
    width: 25px;
    margin-top: 16px;
    margin-right: 15px;
}
.head_d3{
    width: 100%;
    height: 160px;
    background: rgb(250, 250, 240);
}
.head_d4{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    /* 2个值 第1个值是上下 第2值是左右 */
    /* 3个值 第1个值是上 第2个值是上下 第3个值是下  */
    /* 4个值 上右下左 */
    padding-top: 12px; 
}
.head_d5{
    width: 850px;
    display: flex;
    justify-content: space-around;
    margin:  21px auto 0;
    font-size: 13px;
}
.head_d5 a{
    color:rgb(85, 82, 82);
}
.head_d6{
    position: relative;
    top:0;
    width:100%;
    height: 500px;
}
.head_d6 img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.font{
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: 199px;
    left: 35%;
    letter-spacing: 39px;
    z-index: 100;
}
/* content */
.content{
    width: 1209px;
    height: 380px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}
.content_d1{
    width: 590px;
    height: 331px;
    border: 1px solid #d6d3d3;
    margin-left: -1000px;
    transition: 1.5s;
}
.content_d1 img{
    width: 589px;
    height: auto;
    box-sizing: border-box;
    padding: 6px;
}
.content_d2{
    width: 590px;
    height: 331px;
    border:1px solid #d6d3d3;
    margin-right: -1000px;
    transition: 1.5s;
}
.content_d2 img{
    width: 589px;
    height: auto;
    box-sizing: border-box;
    padding: 6px;
}
.content2{
    /* 相对定位 */
    position: relative;
    width: 1200px;
    height: 48px;
    border-bottom: 1px solid #4d4c4c;
    display: flex;
    margin: 0 auto;
}
.content2_d1{
    font-size: 20px;
    width: 80px;
    height: 40px;
    border-bottom: 3px solid #e0e0e0;
    margin-top: 7px;
}
.content2_d2{
    width: 97px;
    height: 31px;
    border-bottom: 3px solid #e0e0e0;
    margin-top: 16px;
    font-style: italic;
    font-size: 14px;
    color: #757575;
}
.content2 a{
    position: absolute;
    border: 1px solid #a5a5a5;
    padding: 6px 10px;
    right: 5px;
    top:10px;
}
.content2 a:hover{
    color: #fff;
    background-color: #3b3b3b;
}
.content3{
    width: 1220px;
    height: 465px;
    margin: 0 auto;
    
}
.content3_u1{
    text-align: center;
    display:flex;
    margin-top: 100px;
    transition: 1s;
}
.content3_u1 li{
    width: 265px;
    height: 370px;
    border: 1px solid #e5e5e5;
    margin: 50px 20px;
    transition: 0.9s ease;
}
.content3_u1 li .cu-img{
    margin-top:10px;
    transition: all .6s linear;
    height: auto;
}
.content3_u1 li:hover .cu-img{
    transform: scale(1.05);
} 
.content3_u1 li:hover .name{
    border-bottom:1px solid rgba(229,229,229,1);
}
.content3_u1 li:hover{
    margin-top: 40px;
    /* 阴影 */
    box-shadow:3px 5px 5px 5px rgba(20,1,0,0.1); 
}
.content3 ul li .name{
    color: #999;
    font-size: 15px;
    padding: 15px 0;
    transition:all .5s linear;
}
.content3 ul li .price{
    font-size: 16px;
    padding: 15px 0;
}
.content4{
    /* 相对定位 */
    position: relative;
    width: 1200px;
    height: 48px;
    border-bottom: 1px solid #4d4c4c;
    display: flex;
    margin: 16px auto;
}
.content4_d1{
    font-size: 20px;
    width: 80px;
    height: 40px;
    border-bottom: 3px solid #e0e0e0;
    margin-top: 7px;
}
.content4_d2{
    width: 106px;
    height: 31px;
    border-bottom: 3px solid #e0e0e0;
    margin-top: 16px;
    font-style: italic;
    font-size: 14px;
    color: #757575;
}
.content4 a{
    position: absolute;
    border: 1px solid #a5a5a5;
    padding: 6px 10px;
    right: 5px;
    top:10px;
}
.content4 a:hover{
    color: #fff;
    background-color: #3b3b3b;
}
.content5{
    width: 1200px;
    height: 595px;
    display: flex;
    margin: 36px auto;
    justify-content: space-between;
}
.content5_d1{
    width: 588px;
    height: 500px;
    border: 1px solid #e0e0e0;
    background-color: #fcfbf5;
}
.content5_d1 img{
    width: 588px;
    height: 370px;
}
.content5_d2{
    width: 300px;
    margin: 20px 162px auto;
    font-size: 20px
}
#hour,#min,#sen{
    color: #000;
    font-size: 50px;
}
.content5_d3{
    width: 588px;
    height: 500px;
    border: 1px solid #e0e0e0;
    background-color: #fcfbf5;
    text-align: center;
}
.content5_d3 img{
    width: 588px;
    height: 370px
}
.content5_d4{
    height: 60px;
    margin: 30px 0 41px;
    font-size: 20px
}
#hour1,#min1,#sen1{
    color: #000;
    font-size: 50px;
}
.content6{
    width: 1500px;
    height: 400px;
    display: flex;
    margin: -36px auto;
    border: 1px solid #d6d3d3;
    background-color:#fcfbf5; 
}
.content6_i1{
    width: 776px;
    height: 400px;
}
.content6_d1{
    width: 100px;
    height: 120px;
    margin: 66px 0 0 66px;
}
.content6 i{
    width: 356px;
    height: 100px;
    font-size: 36px;
    color: rgb(124, 226, 187);
    margin: 83px 0 0 53px;
}
.content6_d2{
    width: 580px;
    height: 100px;
    font-size: 15px;
    color: #757575;
    margin:40px auto;
    line-height: 39px;
}
.content7{
    /* 相对定位 */
    position: relative;
    width: 1200px;
    height: 48px;
    border-bottom: 1px solid #4d4c4c;
    display: flex;
    margin: 76px 0 0 189px;
}
.content7_d1{
    font-size: 20px;
    width: 80px;
    height: 40px;
    border-bottom: 3px solid #e0e0e0;
    margin-top: 7px;
}
.content7_d2{
    width: 136px;
    height: 31px;
    border-bottom: 3px solid #e0e0e0;
    margin-top: 16px;
    font-style: italic;
    font-size: 14px;
    color: #757575;
}
.content7 a{
    position: absolute;
    border: 1px solid #a5a5a5;
    padding: 6px 10px;
    right: 5px;
    top:10px;
}
.content7 a:hover{
    color: #fff;
    background-color: #3b3b3b;
}
.content8{
    width: 1200px;
    height: 490px;
    margin: 50px auto;
}
.content8_u1{
    display: flex;
    text-align: center;
}
.content8_u1 li{
    width: 265px;
    height: 390px;
    margin: 50px 15px;
}
.name1{
    padding: 32px 0 25px 0;
    color: #999;
    font-size: 15px;
}
.price1{
    color: #000;
    font-size: 16px;
}
.content8_u1 li:hover{
    margin-top:-1px;
    border: 2px solid #b5ffda;
    transition: 0.5s ease;
    box-shadow:0px 6px 16px 6px #b5ffda; 
}
.content9{
    width: 1200px;
    height: 449px;
    /* border: 1px solid #000; */
    margin: 0 auto;
    display: flex;
}
.content9_d1{
    width: 720px;
    height: 201px;
    border: 1px solid #999;
    margin-top: 2px;
    margin-left: 2px;
    display: flex;
    margin-right: -1000px;
    transition: 1.5s;
}
.content9_d2{
    width: 720px;
    height: 201px;
    border: 1px solid #999;
    margin-top: 33px;
    margin-left: 2px;
    display: flex;
}
.content9_d3{
    width: 390px;
    height: 441px;
    margin-left: 52px
}
.content9_1{
    width: 400px;
    height: 100px;
    padding: 16px 0 0 15px;
}
.content9_1 a{
    color: #3b3b3b;
    font-size: 18px;
}
.content9_1 p{
    padding: 21px 0 0 0;
    color: #757575;
    font-size: 13px;
}
.content9_2{
    width: 400px;
    height: 100px;
    padding: 16px 0 0 15px;
}
.content9_2 a{
    color: #3b3b3b;
    font-size: 18px;
}
.content9_2 p{
    padding: 21px 0 0 0;
    color: #757575;
    font-size: 13px;
}
#content9_1{
    margin-left: -1000px;
    transition: 1.5s;
}
.content10{
    width: 1200px;
    height: 78px;
    margin: 0 auto;
    /* border: 1px solid #000; */
    display: flex;
    margin-top: 56px;
    /* justify-content: space-between; */
}
.content10_d1{
    width: 280px;
    height: 78px;
    display: flex;
    margin-top: 100px;
    transition: 1.5s;
}
.content10_d2{
    width: 280px;
    height: 78px;
    display: flex;
    margin-top: 100px;
    transition: 2.0s;
}
.content10_d3{
    width: 280px;
    height: 78px;
    display: flex;
    margin-top: 100px;
    transition: 2.5s;
}
.content10_d4{
    width: 280px;
    height: 78px;
    display: flex;
    margin-top: 100px;
    transition: 3s;
}
.content10_p1{
    color: #1d1d1d;
    font-size: 16px;
}
.content10_p2{
    color: #757575;
}
.content10_d5{
    margin-top: 15px;
}
/* footer */
.footer1{
    width: 1583px;
    height: 725px;
    background: #e5e5e5;
    margin-top: 50px;
}
.footer1_d1{
    width: 1200px;
    height: 381px;
    border-bottom : 1px solid #373a3d;
    margin: 0 auto;
    display: flex;
}
.footer1_d11{
    width: 180px;
    height: 293px;
    padding: 72px 0 0 0;
}
.footer1_d1i2{
    width: 35px;
    height: 35px;
}
.footer1_d1i1{
    width: 50px;
    height: 35px;
}
.footer1_p1{
    font: 18px "times new roman";
    letter-spacing: 3px;
}
.footer1_p2{
    color: #757575;
}
.footer1_d12{
    width: 180px;
    height: 293px;
    padding: 72px 0 0 140px;
}
.footer1_d13{
    width: 180px;
    height: 293px;
    padding: 72px 0 0 140px;
}
.footer1_d14{
    width: 180px;
    height: 293px;
    padding: 72px 0 0 140px;
}
.footer2_d2{
    width: 1200px;
    height: 300px;
    border-bottom : 1px solid #373a3d;
    margin: 0 auto;
    display: flex;
}
.footer2_d21{
    width: 180px;
    height: 200px;
    padding: 72px 0 0 0px;
}
.footer2_d22{
    width: 180px;
    height: 200px;
    padding: 72px 0 0 140px;
}
.footer2_d23{
    width: 180px;
    height: 200px;
    padding: 72px 0 0 140px;
}
.footer2_p1{
    font-size: 18px;
    color: #2e2e2e;
    letter-spacing: 3px;
}
.footer2_p2{
    font-size: 10px;
    color: #7e7e7e;
}
.footer2_p3{
    color: #7e7e7e;
}
.footer2_d24{
    width: 180px;
    height: 200px;
    padding: 72px 0 0 140px;
}
.footer3{
    width: 1000px;
    height: 20px;
    color: #999;
    font-size: 15px;
    margin: 8px auto;
    text-align: center;
}